# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
